.container{ 
  background: radial-gradient(circle at center, #ffffff, #c5c5c5,#ececec); 
  padding: 20px;
  border-radius: 10px;
  justify-content: center;
  background-size: 500% 300%;
  margin-top: 20px;
  opacity: 0;
  transform: translateX(-100%); /* Inicia fuera de la pantalla */ 
  transition: transform 1s ease-out, opacity 1.5s ease-out;

  max-width: 400px; 
  }
  .container.animate {
  
    opacity: 1;
    transform: translateX(0); /* Aparece en su posición final */
  }
.contact-form {
    display:flex ;
    flex-direction: column;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
 
  
    h2 {
      font-size: 2rem;
      font-weight: bold;
      color: #000000;
    }
 
    .input-group-text {
      background-color: #007bff;
      color: rgb(0, 0, 0);
      border: none;
      height: 35px;
    }
  
    .form-control {
      border-radius: 0.25rem;
      box-shadow: none;
      border: 1px solid #ced4da;
  
      &:focus {
        border-color: #007bff;
        box-shadow: none;
      }
    }
  
    button {
      background-color: #007bff;
      border: none;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: #0056b3;
      }
    }
  
    .social-icons a {
      color: #007bff;
      font-size: 1.5rem;
      transition: color 0.3s ease;
  
      &:hover {
        color: #0056b3;
      }
    }
  
    .text-danger {
      font-size: 0.9rem;
    }
  }
  @media (max-width: 768px) {
   .contact-form{ 
    max-width: 95%;
    }
  }