<div id="contact" class="container contact-form py-5">
    <h2 class="mb-4 text-center">Contáctame</h2>
  
    <form [formGroup]="contactForm" (ngSubmit)="sendEmail()">
      <div class="row">
        <!-- Nombre -->
        <div class="mb-4">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fas fa-user"></i> <!-- Icono de usuario -->
              </span>
            </div>
            <input type="text" formControlName="name" class="form-control" placeholder="Tu nombre" />
          </div>
          <small *ngIf="contactForm.get('name')?.invalid && contactForm.get('name')?.touched" class="text-danger">
            Nombre es requerido.
          </small>
        </div>
  
        <!-- Correo -->
        <div class="mb-4">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fas fa-envelope"></i> <!-- Icono de correo -->
              </span>
            </div>
            <input type="email" formControlName="email" class="form-control" placeholder="Tu email" />
          </div>
          <small *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched" class="text-danger">
            Email válido es requerido.
          </small>
        </div>
  
        <!-- Mensaje -->
        <div class=" mb-4">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fas fa-comment"></i> <!-- Icono de mensaje -->
              </span>
            </div>
            <textarea formControlName="message" class="form-control" rows="5" placeholder="Tu mensaje"></textarea>
          </div>
          <small *ngIf="contactForm.get('message')?.invalid && contactForm.get('message')?.touched" class="text-danger">
            Mensaje es requerido.
          </small>
        </div>
  
        <!-- Botón para enviar -->
        <div class="col-12 text-center">
          <button type="submit" class="btn btn-primary btn-lg px-5" [disabled]="contactForm.invalid">
            Enviar <i class="fas fa-paper-plane"></i> <!-- Icono de enviar -->
          </button>
        </div>
      </div>
    </form>
  
    <!-- Redes sociales -->
    <div class="social-icons mt-4 text-center">
      <a href="https://linkedin.com/in/aaron-francolino" target="_blank" class="mx-3"><i class="fab fa-linkedin"></i></a>
      <a href="https://github.com/aaron2494" target="_blank" class="mx-3"><i class="fab fa-github"></i></a>
    </div>
  </div>
  