<nav
  class="navbar navbar-white bg-white navbar-expand-lg"
  [ngClass]="{ scrolled: isScrolled }"
>
  <div class="container-fluid">
  
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            type="button"
            (click)="scrollToSection('proyectos')"
            >proyectos</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" type="button" (click)="scrollToSection('contact')"
            >contacto</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
