.hero-section {
  position: relative;
  height: 100vh;
  text-align: center;
  overflow: hidden; /* Asegura que las burbujas no salgan del contenedor */

}

.hero-title {
  font-size: 2.5rem;
  color: #333;
  position: relative;
  z-index: 1; /* Asegura que el título esté por encima de las burbujas */
  animation: fadeIn 4s ease-in-out;
}

p {
  font-size: 2rem;
  color: #333;
  animation: fadeIn 2s ease-in-out;
}

.title-container {
  position: relative;
  width: fit-content;
  height: fit-content;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}



