  <div class="container d-flex sobre-mi-section py-5">
    <div class="row align-items-center">
        <h2 class="mb-4">Sobre mí</h2>
        <p>
          ¡Hola, Soy Aaron Francolino, desarrollador Web, como tal me gusta crear soluciones tecnológicas con buenas practicas que
          resuelvan problemas del mundo real. Aca abajo te dejo mi Cv para que lo descargues
        </p>
        <div class="text-center">
          <a href="../../../assets/cv.pdf" class="btn btn-primary btn-sm mt-3" download>
            Descargar CV en PDF
          </a>
        </div>
       
      </div>
    </div>

